
table tr td
{
   color:blue;
   font-family:Arial Black,Gadget,sans-serif;
   font-size:13px;
   height:304px;
   list-style-type:hebrew
}

input
{
   color:light green;
   font-family:Comic Sans MS,cursive,sans-serif;
   font-size:20px;
   font-weight:304;
   padding:2px 3px 2px 3px
}
